<div class="col-md-10 col-md-offset-1">
	<% if @artists %>
		<div class="panel panel-default">
			<div class="panel-heading"><h2>Search Results for: <span class="label label-info"><%= @search %></span></h2></div>
			<ul class="list-group">
				<% @artists.each do |artist| %>
					<li class="list-group-item"><h4><%= link_to artist['Name'], events_path( 'artistId' => artist['Id'], 'artistName' => artist['Name'] ) %></h4></li>
				<% end %>

				<% if @artists.empty? %>
					<li class="list-group-item"><h2 class="text-center">Sorry, no results</h2></li>
				<% end %>
			</ul>
		</div>
	<% else %>
		<h2 class="text-center">Sorry, no results</h2>
	<% end %>
</div>