<div class="col-md-8 col-md-offset-2">
	<% if @user%>
		<p>
			<b>Name:</b>
			<%= @user.name %>
		</p>
		<p>
			<b>Email:</b>
			<%= @user.email %>
		</p>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	<% else %>
		<p>User not found!</p>
	<% end %>
</div>