<div class="container-fluid">
    <div class="container-fuild">
        <% if signed_in? && has_favorite_events? %>
            <div class="col-md-8">
                <%= render 'event_list' %>
            </div>
            <div class="col-md-4">
                <%= render 'user_favs' %>
            </div>
        <% else %>
            <%= render 'event_list' %>
        <% end %>
    </div>
</div>