<div class="container-fluid">
    <h1>Listing events</h1>
    <h3><%= @events_for_text %></h3>

    <div class="row-fuild">
        <% if signed_in? && has_favorite_events? %>
            <div class="col-md-8">
                <%= render 'event_list' %>
            </div>
            <div class="col-md-4">
            </div>
        <% else %>
            <%= render 'event_list' %>
        <% end %>
    </div>
</div>